<% include includes/header.ejs %>
<div class="container" id ="onecar">

    <div class="row">
        <div class="col-md-9">
            <div class="thumbnail" >
                <img class="img-responsive" src="<%= carinfo.image %>">
                <div class="caption-full" style="padding:19px">
                  <h4 class="pull-right">Cijena: <%= carinfo.price %></h4>


                    <h4><%= carinfo.name %> objavio/la <a href="">@<%= carinfo.owner.firstname %>  </a> kontakt broj:  <%= carinfo.contact %></h4>


                    <div class="pull-right">
                            <li class="pull-right">Boja: <%= carinfo.color %></li>
                             <div>
                            <li class="pull-right" position: relative;>Lokacija: <%= carinfo.location %></li>
                            </div>
                            <div>
                           <li class="pull-right" position: relative;>Brend automobila: <%= carinfo.carbrand %></li>
                           </div>
                           <div>
                          <li class="pull-right" position: relative;>Prijeđeni kilometri: <%= carinfo.km %></li>
                          </div>
                          <div>
                         <li class="pull-right" position: relative;>Motor: <%= carinfo.engine %></li>
                         </div>
                        <li class="pull-right" position: relative;>Godina proizvodnje: <%= carinfo.yearmanufacture %></li>

                    </div>

                    <p style="word-wrap:break-word;"><%= carinfo.description %> </p>

                    <div style="font-style:italic;">Objavljeno <%= moment(carinfo.createdAt).fromNow() %></div>
                     <% if((curruser && JSON.stringify(carinfo.owner.id) === JSON.stringify(curruser._id)) || ( curruser && curruser.role=="admin")){ %>
                    <a style="margin-right:639px;margin-right:10px;" href="/carssale/<%=carinfo._id%>/edit" class="btn btn-default btn-lg">Uredi</a>
                    <form id = "formdelete" action="/carssale/<%=carinfo._id%>?_method=DELETE" method="POST">
                        <button style="color:#202020;" class = "btn btn-danger btn-lg">Obriši</button>
                    </form>
                    <% } %>



                </div>



            </div>
            <div class="well">
              <div>

                <form action="/carssale/<%=carinfo._id%>/comment" method="POST" class="form-inline">

                    <div class="form-group">
                        <textarea style="margin-right:28px;" class="form-control" rows="4" cols="90" type="text" name="text" placeholder="Napisi komentar" required></textarea>
                    </div>
                    <button class="btn btn-default btn-mg" type="submit">Dodaj komentar!</button>

                </form>
            </div>
            <hr>
            <% carinfo.comments.forEach(function(comment){ %>
            <div class="row">
                <div class="col-md-12">
                     <strong><%= comment.author.firstname %></strong>
                     <span class="pull-right"><%= moment(comment.createdAt).fromNow() %></span>

                     <p>
                        <%= comment.text %>

                            <% if((curruser  && comment.author.id.equals(curruser._id) || (curruser.role=="admin"))){ %>
                         <form id = "formdelete" action="/carssale/<%=carinfo._id%>/comment/<%=comment._id%>?_method=DELETE" method="POST">
                                 <button style="color:#202020;" class = "btn btn-danger btn-lg">Obriši</button>
                             </form>
                            <% } %>
                     </p>
                </div>
            </div>
            <% }); %>
            </div>
        </div>
    </div>

</div>

<% include includes/footer.ejs %>
