<% include includes/header.ejs %>


<div class="container">
  <header class="jumbotron">
         <div class="container" id="jumbo">
          <h1>AutoProdaja</h1>
          <p>objavite oglas vašeg auta ili javite se na neki oglas!</p>
          <p><a href="/carssale/addpg" class="btn btn-default btn-lg" type="button">Dodaj objavu</a></p>
          </div>
  </header>


     <% users.forEach(function (user) { %>

       <div class="container p-3 my-3 border" style=" flex-wrap:wrap;
       float: left;
       width:  100%;
       height: 100%;
       padding-bottom: 15px;
       object-fit: cover;
       background-color: #DCDCDC;">
      </div>

             <div class="container p-3 my-3 border" style=" flex-wrap:wrap;
             float: left;
             width:  100%;
             height: 100%;
             padding-top: 5px;
             object-fit: cover;
              background-color: white;">

              <h3>Ime korisnika:<%= user.firstname %> </h3>
              <h4>Prezime korisnika:<%= user.lastname %> </h4>
              <h4>Email korisnika:<%= user.email %> </h4>
              <h4>Uloga korisnika:<%= user.role %> </h4>
              <a style="margin-right:639px;margin-right:10px;" href="/carssale/editUser/<%=user._id%>/edit" class="btn btn-default btn-lg">Uredi</a>
              <form id = "formdelete" action="/carssale/deleteUser/<%=user._id%>?_method=DELETE" method="POST">
                  <button style="color:#202020; " class = "btn btn-danger btn-lg">Obriši</button>
              </form>


              <h4>Objave korisnika: </h4>
             <% pginfo.forEach(function(item){ %>

                  <% if(
                  JSON.stringify(item.owner.id)==JSON.stringify(user._id)
                  ){ %>

                   <div class="col-md-3 col-sm-6" ">
                     <div class="thumbnail">
                         <a href="/carssale/<%= item._id %>">   <img src="<%= item.image %>">   </a>
                             <div class="caption">
                                    <h4> <%= item.name  %> </h4>
                               </div>
                               <div class="caption" style="display: none;">
                                      <h4> <%= item.description  %> </h4>
                               </div>
                               <div class="caption">
                                      <h4> <%= item.status  %> </h4>
                                 </div>
                     </div>
                   </div>


                    <% } %>


                <% }); %>
</div>

     <% }) %>


</div>



<% include includes/footer.ejs %>
