<% include includes/header.ejs %>


    <div class="container">
        <header class="jumbotron">
               <div class="container" id="jumbo">
                <h1>AutoProdaja</h1>
                <p>objavite oglas vašeg auta ili javite se na neki oglas!</p>
                <p><a href="/carssale/addpg" class="btn btn-default btn-lg" type="button">Dodaj objavu</a></p>
                </div>
        </header>

<% if( (!curruser)  || ( curruser && curruser.role=="basic") ){ %>
        <div class="row">
          <form class="col-xs-6" action="/search" method="get" >
            <p>Ime automobila: </p> <input class="form-control mr-sm-2" type="text" name="dsearch" placeholder="Search">
            <p>Max cijena: <input class="form-control mr-sm-2" type="number" name="pricee" placeholder="price" value=1000000 max=1000000 min=0> </p>
            <p>Lokacija: </p> <input class="form-control mr-sm-2" type="text" name="dlocation" placeholder="lokacija">
            <p>Max prijeđeni kilometri: <input class="form-control mr-sm-2" type="number" name="km" placeholder="km" value=1000000 max=1000000 min=0> </p>
            <p>Godina proizvodnje: <input class="form-control mr-sm-2" type="text" name="yearmanufacture" placeholder="godina proizvodnje, npr 2019" value='' max=2020 min=1900> </p>
            <div class="form-group">
                <label for="carbrand">Brend automobila:</label>
                <select id="carbrand" name="carbrand">
                  <option value="">svi brendovi</option>
                  <option value="audi">audi</option>
                  <option value="bmw">audi</option>
                  <option value="ford">ford</option>
                  <option value="fiat">fiat</option>
                  <option value="honda">honda</option>
                  <option value="jeep">jeep</option>
                  <option value="kia">kia</option>
                  <option value="land rover">land rover</option>
                  <option value="mazda">mazda</option>
                  <option value="mercedes">mercedes</option>
                  <option value="nissan">nissan</option>
                  <option value="opel">opel</option>
                  <option value="peugeot">peugeot</option>
                  <option value="porche">porche</option>
                  <option value="seat">seat</option>
                  <option value="skoda">skoda</option>
                  <option value="toyota">toyota</option>
                  <option value="volkswagen">volkswagen</option>
                  <option value="volvo">volvo</option>
                </select>
            </div>
            <div class="form-group">
                <label for="engine">Motor:</label>
                <select id="engine" name="engine">
                  <option value="">sve vrste</option>
                  <option value="diesel">diesel</option>
                  <option value="benzin">benzin</option>
                  <option value="hybrid">hybrid</option>
                </select>
            </div>

            <div class="form-group">
                <label for="color">Boja:</label>
                <select id="color" name="color">
                  <option value="">sve boje</option>
                  <option value="crvena">crvena</option>
                  <option value="siva">siva</option>
                  <option value="crna">crna</option>
                  <option value="plava">plava</option>
                  <option value="bijela">bijela</option>
                </select>
            </div>
            <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
   <% } %>


<h4 class="pull-left">Automobili na prodaji:</h4>
        <div class="row text-right" style=" flex-wrap:wrap;
        float: left;
        width:  100%;
        height: 100%;
        object-fit: cover;
         background-color: white;
        ">
                 <% pginfo.forEach(function(item){ %>
<% if(
(item.status=="prodaja")
){ %>
                     <div class="col-md-3 col-sm-6">
                       <div class="thumbnail">
                           <a href="/carssale/<%= item._id %>">
                               <img src="<%= item.image %>">
                           </a>
                               <div class="caption">
                                      <h4> <%= item.name  %> </h4>
                                 </div>
                                 <div class="caption" style="display: none;">
                                        <h4> <%= item.description  %> </h4>
                                 </div>
                       </div>
                     </div>


                      <% } %>

                    <% }); %>
           </div>
                  <% if( (curruser) ){ %>
                <div class="thumbnail"">

                   <script>
                  function httpGet(Url){
                    var xmlHttp = new XMLHttpRequest();
                    xmlHttp.open("GET", Url, false);
                    xmlHttp.send(null);
                    return xmlHttp.responseText;
                  }

                  window.onload=function(){
                    var aData = JSON.parse(httpGet('http://localhost:3000/test'));

                    var seriesData = {
                      price: [],
                      km: [],
                      yearmanufacture: [],

                    };

                    for(var n = 0; n < aData.length; n++){
                      seriesData['price'].push(aData[n]['price']);
                      seriesData['km'].push(aData[n]['km']);
                      seriesData['yearmanufacture'].push(aData[n]['yearmanufacture']);
                    }


                    zingchart.render({
                      id:"myChart",
                      width:"100%",
                      height:400,
                      data:{
                        "type":"bar",
                 "plotarea":{  "marginLeft":100, "marginRight":100},

                 "legend": {
                   "layout": "x3",
                   "overflow": "page",
                   "alpha": 0.05,
                   "shadow": false,
                   "align": "center",
                   "adjust-layout": true,
                   "marker": {
                     "type": "circle",
                     "border-color": "none",
                     "size": "10px"
                   },
                 "border-width": 0,
                 "maxItems": 3,
                 "toggle-action": "hide",
                 "pageOn": {
                 "backgroundColor": "#000",
                 "size": "10px",
                 "alpha": 0.65},
                 "pageOff": {
                 "backgroundColor": "#7E7E7E",
                 "size": "10px",
                 "alpha": 0.65
                 },
                 "pageStatus": {
                 "color": "black"
                 }
                 },
                 //"scroll-y-2": {},
                 "scroll-x": {},
                 "scale-y": {"label": {
                             "text": "Iznos cijene i prijeđenih kilometara",
                             "font-family": "arial",
                             "bold": true,
                             "font-size": "14px",
                             "font-color": "#7E7E7E",
                           } //, "zooming": true
                         },

                           'scale-y-2': {
                             "label": {
                                         "text": "Godina proizvodnje",
                                         "font-family": "arial",
                                         "bold": true,
                                         "font-size": "14px",
                                         "font-color": "#7E7E7E",
                                       }, "zooming": true
                           },

                                   "scaleX": {"label": {
                                               "text": "ID oglasa",
                                               "font-family": "arial",
                                               "bold": true,
                                               "font-size": "14px",
                                               "font-color": "#7E7E7E",

                                             }, "zooming": true, "min-value":1},
                        "series":[
                          {
                            "values":seriesData['price'],
                            "text": 'Cijena (kn)',
                            "scales": "scale-x,scale-y"
                          },
                          {
                            "values":seriesData['km'],
                            "text": 'Prijeđeni kilometri (km)',
                            "scales": "scale-x,scale-y"
                          },
                          {
                            "values":seriesData['yearmanufacture'],
                            "text": 'Godina proizvodnje (godina)',
                            "scales": "scale-x,scale-y-2"
                          }
                        ]
                      }

                    });
                  };
                  </script>

                           <h3 style=" margin-top: 100px;">Prikaz odnosa cijene, prijeđenih kilometara i godine proizvodnje automobila prema pojedinom oglasu</h3>
                               <div id="myChart"></div>
                               <h3>ID oglasa</h3>

                               <ol>
                                 <% pginfo.forEach(item => { %>
                                 <li><%= `Ime auta: ${item.carbrand} , Cijena auta: ${item.price}, Prijeđeni kilometri: ${item.km}, Godina proizvodnje: ${item.yearmanufacture}
                                   , Vlasnik oglasa: ${item.owner.firstname}, Status: ${item.status}` %></li>
                                 <% }); %>
                               </ol>
                 </div>

                    </div>
                    <% } %>





<% include includes/footer.ejs %>
