<% include includes/header.ejs %>

<div class="container">
    <div class="row">
        <h1 style="text-align:center;">Ažuriraj <%= carinfo.name %></h1>
        <div style="width: 30%; margin:20px auto;">
            <form action="/carssale/<%= carinfo._id %>?_method=PUT" method="POST" id="add" enctype="multipart/form-data">
                        <div class="form-group">
                            <input  class = "form-control" type="text" name="carname" value="<%= carinfo.name %>">
                        </div>

                        <div class="form-group">
                            <input  class = "form-control" type="number" name="carprice" value="<%= carinfo.price %>">
                        </div>

                        <div class="form-group">
                            <input  class = "form-control" type="number" min="000000000" max="9999999999" name="carcontact" placeholder="Kontakt telefon" value="<%= carinfo.contact %>" >
                        </div>

                        <div class="form-group">
                            <input  class = "form-control" type="number" min="000000000" max="9999999999" name="km" placeholder="Prijeđeni kilometri" value="<%= carinfo.km %>" >
                        </div>

                        <div class="form-group">
                            <input  class = "form-control" type="text" min="1900" max="2020" name="yearmanufacture" placeholder="Godina proizvodnje, npr 2019" value="<%= carinfo.yearmanufacture %>" >
                        </div>

                        <div class="form-group">
                            <label for="carbrand">Brend automobila:</label>
                            <select id="carbrand" name="carbrand">
                              <option value="">svi brendovi</option>
                              <option value="audi">audi</option>
                              <option value="bmw">audi</option>
                              <option value="ford">ford</option>
                              <option value="fiat">fiat</option>
                              <option value="honda">honda</option>
                              <option value="jeep">jeep</option>
                              <option value="kia">kia</option>
                              <option value="land rover">land rover</option>
                              <option value="mazda">mazda</option>
                              <option value="mercedes">mercedes</option>
                              <option value="nissan">nissan</option>
                              <option value="opel">opel</option>
                              <option value="peugeot">peugeot</option>
                              <option value="porche">porche</option>
                              <option value="seat">seat</option>
                              <option value="skoda">skoda</option>
                              <option value="toyota">toyota</option>
                              <option value="volkswagen">volkswagen</option>
                              <option value="volvo">volvo</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="engine">Motor:</label>
                            <select id="engine" name="engine">
                              <option value="">sve vrste</option>
                              <option value="diesel">diesel</option>
                              <option value="benzin">benzin</option>
                              <option value="hybrid">hybrid</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="status">Status:</label>
                            <select id="status" name="status">
                              <option value="prodaja">prodaja</option>
                              <option value="prodano">prodano</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="color">Boja:</label>
                            <select id="color" name="color">
                              <option value="crvena">crvena</option>
                              <option value="siva">siva</option>
                              <option value="crna">crna</option>
                              <option value="plava">plava</option>
                              <option value="bijela">bijela</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <input  class = "form-control" type="text" name="location" value="<%= carinfo.location %>">
                        </div>

                         <div class="form-group">
                         <label for="image">Učitaj sliku</label>
                            <input name="carimage" type="file" id="image" accept="carimage/*" >
                            <p class="help-block"> format : jpg, png</p>
                        </div>

                        <div class="form-group">
                        <textarea class="form-control" minlength="100" wrap  rows="4" cols="90" type="text" name="descriptionform" required><%= carinfo.description %></textarea>
                        </div>

                    <div class="form-group">
                      <select class="form-control" type="text" name="model" id="selectNumber" placeholder="model">
                      <option id="defaultmodel">Odaberi model</option>
                      </select>
                  </div>


                <div class="form-group">
                    <button class="btn btn-lg btn-default btn-block">Ažuriraj!</button>
                </div>
            </form>
            <a  href="/carssale">Nazad</a>
        </div>
    </div>
</div>


<% include includes/footer.ejs %>
